[Unit]
Description=Gunicorn for VaporMap
After=network.target

[Service]
User={{use_vapormap}}
Group={{vapormap_group}}
WorkingDirectory={{vapormpap_dir}}
Environment="PATH={{VAPORMAP_PATH}}"
Environment="PYTHONPATH={{VAPORMAP_PATH}}"
Environment=PYTHONDONTWRITEBYTECODE=1
Environment=PYTHONUNBUFFERED=1
Environment=SETTINGS_FILE="production"
Environment=VAPOR_DBUSER={{use_vapormap}}
Environment=VAPOR_DBPASS={{password_vapormap}}
Environment=VAPOR_DBHOST={{VAPOR_DBHOST}}
Environment=VAPOR_DBNAME={{database_vapormap}}
ExecStart={{VAPORMAP_PATH}}/gunicorn wsgi:app --bind 0.0.0.0:{{VAPORMAP_API_PORT}}

[Install]
WantedBy=multi-user.target